<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Detail</title>
		<link rel="stylesheet" type="text/css" href="./css/common.css">
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	</head>
	<body>
		<div id="detail">
			<div class="app-header">
				<div class="app-head-inner">
					<div style="position: relative;">
						<img class="logo" src="./assets/logo.png">
					</div>
					<div class="head-nav">
						<ul v-if="username" class="nav-list">
							<li> {{ username }}</li>
							<li class="nav-pile">|</li>
							<li @click="quit">Sign out</li>
							<li class="nav-pile">|</li>
							<li @click="aboutClick">Dashboard</li>
						</ul>
						<ul v-else class="nav-list">
							<li @click="logClick">Sign In</li>
							<li class="nav-pile">|</li>
							<li @click="toregister">Sign up</li>
							<li class="nav-pile">|</li>
							<li @click="aboutClick">Dashboard</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="daoitems">
				<a href="./userlist.html">CustomerInfo</a>
				<a href="./productInfo.html">ProductInfo</a>
				<a class="active" href="./transactionInfo.html" >TransactionInfo</a>				
				<a href="./salepersonInfo.html" >SalepersonInfo</a>
				<a href="./storeInfo.html" >StoreInfo</a>
				<a href="./regionInfo.html" >RegionInfo</a>
			</div>
			<div style="margin-left: 180px;width: 90%;">
			<div style="display: flex;align-items: center;margin-top: 20px;margin-left: 20px;">
				<div style="display: flex;align-items: center;">
					<span style="width: 150px;">Transaction ID</span><el-input v-model="formPage.id" placeholder="please type Transaction ID"></el-input>
				</div>
				<div style="display: flex;align-items: center;margin-left: 20px;"> 
					<span style="width: 150px;">Store ID</span><el-input v-model="formPage.sid" placeholder="please type Store ID"></el-input>
				</div>
                <div style="display: flex;align-items: center;margin-left: 20px;"> 
					<span style="width: 150px;">Region ID</span><el-input v-model="formPage.rid" placeholder="please type Region ID"></el-input>
				</div>
				<el-button type="success" style="margin-left: 20px;" @click="pageData">Search</el-button>
				<!-- <el-button type="primary" style="margin-left: 20px;" @click="add">+  Add</el-button> -->
			</div>
			<div class="BasicTable" style="margin-top: 20px;">
			  <el-table ref="mytable" :row-class-name="rowClassName"
			  border
			   @selection-change="handleSelectionChange" :data="tableData" 
			    :stripe="formPage == 'cyjgfxHxm' ? false : true"
			    v-loading="loadingTable" align="center" style="width: 100%" :header-cell-style="{background: '#DAEBED !important', color: '#016F68 !important'}">
			    <el-table-column
			      v-if="showSelection"
			      :key="'select2'"
			      type="selection"
			      width="55">
			    </el-table-column>
			
			    <el-table-column
			      v-if="showIndex"
			      width="120"
			      align="center"
			      type="index"
			      label="Serial Numver"
			    ></el-table-column>
			    <!-- :formatter="item.formatter ? formatterAll[item.formatter] : ''" -->
			    <el-table-column
			      resizable
			      align="center"
			      :prop="item.prop"
			      :label="item.label"
			      v-for="(item, index) in tableColumn"
			      :show-overflow-tooltip="true"
			      :width="item.width"
			      :key="index">
			      <template slot-scope="scope">
			        <!-- 有formatter的情况 -->
			        <div v-if="item.formatter">
			          <span v-if="item.formatter == 'formatSjqcyyl'">{{scope.row[item.prop] | filterPercent }}</span>
			          
			          <div v-else-if="item.formatter == 'formatImage'">
			            <img v-if="item.clickFn" @click="clickFnAll(scope.row, item.clickFn)" style="cursor: pointer;text-decoration: underline;width:18px;vertical-align: middle;margin-top: -3px;margin-right:4px" :src="formatterAll[item.formatter](scope.row)" />
			            <img v-else style="width:18px;vertical-align: middle;margin-top: -3px;margin-right:4px" :src="formatterAll[item.formatter](scope.row)" />
			          </div>
			          <span v-else>{{ formatterAll[item.formatter](scope.row[item.prop]) }}</span>
			        </div>
			
			        <div v-else-if="item.clickFn">
			          <span v-if="item.clickFn == 'toEqartFn'" :class="{'gantaCur': scope.row.eqart=='1101001003'}" @click="clickFnAll(scope.row, item.clickFn)">{{ formatterAll[item.formatter](scope.row[item.prop]) }}</span>
			          <span v-else style="cursor: pointer;color: #409eff;text-decoration: underline;" @click="clickFnAll(scope.row, item.clickFn)">{{scope.row[item.prop] }}</span>
			        </div>
			
			        <!-- 不加百分比 -->
			        <span v-else>{{scope.row[item.prop] }}</span>
			
			      </template>
			    </el-table-column>
			
			    <el-table-column label="Operation" align="center" width="280" v-if="showOperation">
			      <template slot-scope="scope">
			        <el-button
			          v-for="(btnItem, btnIndex) in rowBtn"
			          :key="btnIndex"
			          size="mini"
			          class="btn"
			          type="primary"
			          @click="btnItem.btnFn(scope.row)"
			        >
			          <i class="el-icon-document"></i>
			          {{ btnItem.btnLabel }}
			        </el-button>
			      </template>
			    </el-table-column>
			  </el-table>
			  <div class="pagination_box">
			    <el-pagination
			      v-if="showPagination"
			      background
			      @size-change="handleSizeChange"
			      @current-change="handleCurrentChange"
			      :current-page="paginationData.pageNum"
			      :page-sizes="[10, 20, 50, 100]"
			      :page-size="paginationData.pageSize"
			      layout="prev, pager, next, sizes, total, jumper"
			      :total="paginationData.totalSize"
			    >
			    </el-pagination>
			  </div>
			</div>
			</div>
			<el-dialog title="Choose The Role" :visible.sync="dialogTableVisible">
				<div style="margin-bottom: 20px;text-align: center;">
					<el-radio v-model="type" label="1">Home</el-radio>
					  <el-radio v-model="type" label="2">Business</el-radio>
					  <div style="margin-top: 40px;">
						   <el-button type="success" @click="next" >Next</el-button>
					  </div>
				</div>
			</el-dialog>
			<el-dialog title="Eidit Transaction" :visible.sync="dialogFormVisible">
				<el-form :model="form">
				  <el-form-item label="Product ID" :label-width="120">
					<el-input v-model="form.product_id" autocomplete="off"></el-input>
				  </el-form-item>
				  <el-form-item label="Store ID" :label-width="120">
					<el-input v-model="form.store_id" autocomplete="off"></el-input>
				  </el-form-item>
				  <el-form-item label="Product Number" :label-width="120">
					<el-input type="number" v-model="form.product_number" autocomplete="off"></el-input>
				  </el-form-item>
				  <el-form-item label="Order Number" :label-width="120">
					<el-input type="number" v-model="form.order_number" autocomplete="off"></el-input>
				  </el-form-item>
				  <el-form-item label="Saleperson ID" :label-width="120">
					<el-input v-model="form.salesperson_id" autocomplete="off"></el-input>
				  </el-form-item>
				  <el-form-item label="Saleperson Name" :label-width="120">
					<el-input v-model="form.salesperson_name" autocomplete="off"></el-input>
				  </el-form-item>
				  <el-form-item label="Date" :label-width="120">
					  <el-date-picker
							v-model="form.date"
							type="date"
							placeholder="Please Select">
						  </el-date-picker>
				  </el-form-item>				  
				</el-form>
				<div slot="footer" class="dialog-footer">
				  <el-button @click="dialogFormVisible = false">Cancel</el-button>
				  <el-button type="primary" @click="editNow">Confirm</el-button>
				</div>
			</el-dialog>
		</div>
		<script>
			new Vue({
				
				el: '#detail',
				data:{
					type:"1",
					dialogTableVisible:false,
					searchkey:'',
					// isShow: false,
					isShowAboutDialog: false,
					isShowLogDialog: false,
					// isShowRegDialog: false,
					isShowJudgeDialog: false,
					username: '',
					showSelection: false,
					showIndex: false,  // 展示序号
					showOperation: true,  // 展示操作列
					showPagination: true, //展示分页
					tableColumn: [],  // 列对应数据
					formatterAll: {},
					tableData: [],  // 表格数据
					paginationData: {}, // 分页数据
					selectArray: [],  // 选中的数据
					rowBtn: [],
					form:{
						id:'',
						customer_id:'',
						product_id:'',
						store_id:'',
						product_number:'',
						order_number:'',
						salesperson_id:'',
						date:'',
						salesperson_name:''
					},
					// formPage: '',
					basicTableData: {
					  loadingTable: true,
					  tableColumn: [
                            { prop: 'id', label: 'Transaction Id', width: 130},
                            { prop: 'customer_id', label: 'Customer ID', width: 130},
							{ prop: 'product_id', label: 'Product ID', width: 130},
							{ prop: 'product_number', label: 'Product Number', width: 130},
							{ prop: 'store_id', label: 'Store ID', width: 130},
                            { prop: 'order_number', label: 'Order Number', width: 130 },
                            { prop: 'date', label: 'Date', width: 130},
							{ prop: 'salesperson_id', label: 'Salesperson ID', width: 150},
                            { prop: 'salesperson_name', label: 'Salesperson Name', width: 150}
					  ],
					  tableData: [],
					  paginationData: {
					    pageNum: 1,
					    pageSize: 10,
					    totalSize: 0
					  },
					  rowBtn:[{btnLabel:'Edit',btnFn:''},{btnLabel:'Delete',btnFn:''}],
					  showOperation:true,
					},
					formPage:{
						 page: '',
						 size: '',
						  id:'',
						  sid:'',
						  rid:''
					},
					loadingTable:false,
					dialogFormVisible:false,
				},
				beforeUpdate() {
				  // 表格抖动解决
				  this.$nextTick(() => {
				    this.$refs.mytable.doLayout()
				  })
				},
				created() {
					this.username = window.localStorage.getItem("userName")
					this.initData()
				},
				methods:{
					editNow(){
						axios.post("http://162.243.190.66:8080/editTransaction",this.form)
						.then(response => { 
							if(response.data.code === 200) {
								this.$message({
								type: 'success',
								message: 'Edit success!'
								});
								}
							this.dialogFormVisible = false
							this.initData()
						}) 
						.catch(error => { 
						this.$message({
							type: 'error',
							message: 'Edit failed!'
						});
						this.dialogFormVisible = false
						this.initData()
						});
					},
					editFun(row){
						this.dialogFormVisible = true
						this.form = row
					},
					delFun(row){
						this.$confirm('Are you sure del this data?', 'Tips', {
						confirmButtonText: 'Confirm',
						cancelButtonText: 'Cancel',
						type: 'warning'
						}).then(() => {
						axios.get("http://162.243.190.66:8080/delTransaction?id="+row.id)
						.then(response => { 
							if(response.data.code === 200) {
								this.$message({
								type: 'success',
								message: 'Del success!'
								});
								this.initData()
							}
						}) 
						.catch(error => { 
						console.error(error); 
						});
						this.initData()
						}).catch(() => {
							this.$message({
							type: 'info',
							message: 'Cancel del'
							});          
						});
					},
					add(){
						window.location.href="./addProduct.html"
					},
					next(){
						window.location.href="./register.html?type="+this.type
					},
					toregister(){
						this.dialogTableVisible = true
					},
					topage(url){
						window.location.href = url
					},
					closeTheForm() {
						this.isShowJudgeDialog = false
					},
					quit() {
						this.$confirm('Are you sure quit？', 'Tips', {
							confirmButtonText: 'Confirm',
							cancelButtonText: 'Cancel',
							type: 'warning'
						}).then(() => {
							window.localStorage.clear()
							this.username = ""
							this.$forceUpdate()
							window.location.href = "./index.html"
						}).catch(() => {
					
						});
					},
					closeDialog(para) {
						this[para] = false
					},
					aboutClick() {
						window.location.href = "./index.html"
					},
					logClick() {
						window.location.href = "./login.html"
					},
					regClick() {
						this.isShowJudgeDialog = true
					},
					onSuccessLog(data) {
						this.closeDialog('isShowLogDialog');
						this.username = data.username
					},
					clickFnAll(row, clickFn) {
					  let data = {
					    row: row,
					    clickFn: clickFn
					  }
					  this.$emit('clickFn',  data)
					},
					initData() {
					  let { showIndex, showOperation, tableColumn, tableData, formatterAll, paginationData, showSelection, rowBtn, showPagination, formPage } = this.basicTableData
					  this.tableColumn = tableColumn
					  this.formatterAll = formatterAll
					  this.paginationData = paginationData
					  this.showIndex = showIndex == undefined ? true : showIndex
					  this.showOperation = showOperation == undefined ? false : true
					  this.showSelection = showSelection == undefined ? false : true
					  rowBtn[0].btnFn = this.editFun
			 		  rowBtn[1].btnFn = this.delFun
					  this.rowBtn = rowBtn
					  this.showPagination = showPagination == undefined ? true : false
					  setTimeout(()=>{
						  this.loadingTable = false
					  },1200)
					  this.pageData()
					},
					pageData(){
						if(!this.formPage.page){
						this.formPage.page = 1
						}
						if(!this.formPage.size){
						this.formPage.size = 10
						}
						this.tableData = [{}]
						const url = `http://162.243.190.66:8080/transactionlist?id=${this.formPage.id}&region_id=${this.formPage.rid}&store_id=${this.formPage.sid}&page_index=${this.formPage.page}&page_size=${this.formPage.size}`;
						axios.get(url) 
						.then(response => { 
								if(response.data.code === 200) {
						          this.tableData = response.data.data.content
						          this.paginationData.totalSize = response.data.data.totalElements
						          // this.basicTableData.loadingTable = false
						          // this.$refs.basicTable.initData()
						        }
						console.log(response.data); 
						}) 
						.catch(error => { 
						console.error(error); 
						});
					},
					handleSizeChange(val) {
					  this.$emit('handleSizeChange', val)
					},
					handleCurrentChange(val) {
					  this.$emit('handleCurrentChange', val)
					},
					goItemDetail(row) {
					  this.$emit('goItemDetail', row)
					},
					handleSelectionChange(val) {
					  this.selectArray = val
					},
					rowClassName({row, rowIndex}) {
					  if(this.formPage == 'cyjgfxHxm') {
					    return row.checkAttr == 1 ? 'red_bg' : ''
					  } else {
					    return ''
					  }
					}
				},
			})
		</script>
	</body>
</html>

<style lang="scss">
.BasicTable {
  margin: 0 15px;
  overflow: hidden;
  .el-table {
    .red_bg {
      background: #f3acac;
    }
    .btn {
      background: #59BCB7;
      border-color: #59BCB7;
      font-size: 14px;
    }
    .bbtn {
      background: #919292;
      border-color: #919292;
      font-size: 14px;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner{
      background-color: #016F68;
      border-color: #016F68;
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner{
      background-color: #016F68;
      border-color: #016F68;
    }
    .el-checkbox__input.is-focus .el-checkbox__inner{
      border-color: #016F68;
    }
    .el-checkbox__inner:hover {
      border-color: #016F68;
    }

    .gantaCur {
      cursor: pointer;
      color: #409eff;
      text-decoration: underline;
    }
  }

  .el-pagination {	
    margin: 20px 0;
    .el-pager .number:not(.active):hover {		
      color: #59BCB7 !important;
    }
    .el-pager .number.active {
      background: #59BCB7 !important;
      color: #FFF !important;
    }
  }

  .pagination_box {
    text-align: center;
    .box_right {
      line-height: 72px;
      color: #3D3D3D;
      img {
        cursor: pointer;
        position: relative;
        top: 5px;
        margin-left: 6px;
        &:last-child {
          margin-left: 16px;
        }
      }
    }
  }

}
</style>